# 此为注释 – 将被 Git 忽略
 
#*.a       # 忽略所有 .a 结尾的文件
#!lib.a    # 但 lib.a 除外
#/TODO     # 仅仅忽略项目根目录下的 TODO 文件，不包括 subdir/TODO
#build/    # 忽略 build/ 目录下的所有文件
#doc/*.txt # 会忽略 doc/notes.txt 但不包括 doc/server/arch.txt

#根目录文件
.svn/
src2/
src3/
debug/
debug32/
debug64/
release32/
release64/
bin/
obj/
menu/
AutoCAD DLL/
Debug64/
Release64/
ReleaseBDTool/
ReleaseCodeMeter32/
ReleaseCodeMeter64/
TX_CBDTool/
TX_CBridgeTool/
TX_CFEM/
TX_CForms/
TX_CForms2/
TX_PaletteUtil/
TX_TestFile/
src/TX_TJADBim/
src/TX_VDEntity/
src/TX_VEEntity/
src/TX_VGEntity/
src/TX_VKEntity/
src/TX_VHEntity/
src/TX_VXEntity/
src/TX_VZEntity/
src/TX_VBeamArrange/
src/TX_KXBBeam3/
src/TX_VKXBBeam/
src/TX_VAEntityOLD/
src/TX_VFEntity/
src/TX_VFEntityArrange/
src/TX_VGEntityXXL/
src/TX_VHEntityKXB/

#其他项目和文件夹
TX_Computer/
#TX_IRealEntity/
#TX_ProxyEntity/
#TX_NetEntity/
#TX_IllustratorNet/
#TX_IllustratorWin/
TX_PaperLayout/
PaletteUtil/
Backup/
bak/
MTL_Math/
TestLiuShiYi/
TX_BridgeWiseApp2/
TX_BridgeWiseApp3/
TX_BridgeWiseApp4/

#文件
*.err
*.fas
*.lsp
*.rar
*.dll
*.ncb
*.pch
*.gch
*.sln
*.slo
*.suo
*.sdf
*.user
*.filters
*.vssscc
*.vspscc
*.csproj.*
*.vcproj.*
*.WibuCmRaC
*.WibuCmRaU
*.pdb
*.config
*.application
*.manifest
*.svnprops
*.sln